.login {
    height: var(--vh-minus-nav);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login .logo {
    width: 450px;
    max-width: 80%;
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
}

.login input,
.login select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.gift {
    max-width: 60%;
    width: 450px;
    margin-top: 50px;
}