.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    gap: 25px;
}

.login .logo {
    width: 500px;
    max-width: 80%;
    filter: drop-shadow(2px 4px 4px gray);
}

.login-box {
    width: 400px;
    max-width: 80%;
}

.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}