#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  text-align: center;
}

a {
  cursor: pointer;
  color: #4080c6;
}

a:hover {
  color: #0056b3;
}

.react-icons,
svg {
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.main {
  max-width: 100%;
  padding: 2rem;
  overflow: hidden;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}

.trash:hover,
.hidden-btn:hover .trash {
  color: red;
}

.edit:hover,
.hidden-btn:hover .edit {
  color: rgb(0, 145, 255);
}

.swipe-action-inner {
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0 12px;
  font-size: 12px;
  font-weight: 500;
  box-sizing: border-box;
  color: rgb(238, 238, 238);
  user-select: none;
}

.lists {
  display: flex;
  flex-direction: column;
  width: 35%;
  max-width: 500px;
}

.lists-all-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
  padding: 5% 0 10% 0px;
  align-items: center;
}

.list-single-container {
  max-height: 500px;
  overflow-y: auto;
}

.more-bottom {
  margin-bottom: 7px;
}

.list-title {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: #e2e2e2;
  padding: 4px;
  gap: 2px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

.list-title:last-child {
  margin-bottom: unset;
}

.list-title small {
  flex: 1;
  color: #8e8e8e;
}

.list-title p {
  flex: 3;
}

.profile-pic {
  max-width: 100px;
  max-height: 100px;
}

.page-title {
  width: 35%;
  max-width: 500px;
  margin: 0 auto;
  background: #e2e2e2;
}

.relative-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Gray overlay with opacity */
  display: none;
  justify-content: center;
  align-items: center;
}

.list-title:hover .relative-overlay {
  display: flex;
  /* Show the overlay on hover */
}

.hidden-btn {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

.hidden-btn:hover {
  background-color: #333;
  color: #fff;
}

.btn-box {
  display: flex;
  gap: 10px;
}

.btn-box button {
  flex: 1;
}

.flex-1 {
  flex: 1;
}

.inverse-btn {
  background-color: white;
  border: solid 1px #4080c6;
  color: #4080c6;
}

.selectable {
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.react-confirm-alert .react-confirm-alert-body {
  width: auto;
  margin: 0 auto;
}

/* When tablet size or smaller */
@media (max-width: 1023px) {
  .main {
    padding: 1rem;
  }

  .lists-all-container {
    flex-direction: column;
  }

  .lists {
    width: unset;
    padding: 0 5px;
  }
}

/* When phone size or smaller */
@media (max-width: 767px) {
  h1 {
    font-size: 1.5rem;
  }

  .main {
    padding: 0;
    /* keeps the bottom nav from conflicting with content */
    padding-bottom: 50px;
  }

  .react-icons,
  svg {
    width: 1rem;
    height: 1rem;
  }

  input {
    font-size: 16px;
  }
}