.items-page {
    display: flex;
    flex-direction: row;
    height: 90vh;
}

.items-section {
    flex: 4;
    padding: 0 20px;
    overflow: hidden;
}

.items-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* max-width: 1080px; */
    margin: auto 0;
}

.item {
    display: flex;
    align-items: center;
}

.item-list-title {
    max-width: 500px;
    margin: 0 auto;
    background: #e2e2e2;
}

.item-left {
    justify-content: flex-start;
}

.item-right {
    justify-content: center;
}

.item-left,
.item-right {
    flex: 1;
    display: flex;
}

.item-center {
    flex: 3;
}

.item-user {
    margin-left: 50%;
    transform: translate(-50%, 0);
}

.check {
    margin-left: -20px;
    align-self: center;
}

.item svg {
    width: 2rem;
    height: 2rem;
}

.messages {
    background: #e2e2e2;
    padding: 5px 5px;
    border-radius: 10px;
    overflow: hidden;
    flex: 1;
    position: relative;
}

.messages h2 {
    margin: 0px;
}

.messages-container {
    overflow-y: auto;
    padding: 7px;
}

.message {
    display: flex;
    padding: 10px 0px;
    margin-bottom: 15px;
    gap: 10px;
}

.message-info {
    flex: 1;
}

.message-metadata {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #8e8e8e;
    margin-bottom: 3%;
}

.message p {
    margin: 0;
    text-align: left;
}

.messages-lower-section {
    display: flex;
    flex-direction: column;
    height: 95%;
}

.messages-input-container {
    position: sticky;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #e2e2e2;
}

.input-with-button {
    position: relative;
    width: 100%;
}

.input-with-button input {
    height: 30px;
    width: 100%;
    padding-right: 15%;
    box-sizing: border-box;
}

.input-with-button button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: 3px;
    border-radius: 0 4px 4px 0;
    height: 30px;
}

.item-list-title .react-icons,
.item-list-title svg {
    width: 2.5rem;
    height: 2.5rem;
}

.strikethrough {
    text-decoration: line-through;
}

.viewer {
    align-items: center;
}

/* When phone size or smaller */
@media (max-width: 767px) {
    .items-page {
        flex-direction: column;
        gap: 75px;
        height: auto;
    }

    .item-list-title .react-icons,
    .item-list-title svg {
        width: 2rem;
        height: 2rem;
    }

    .input-with-button button {
        padding: 0 1.4rem;
    }

    .input-with-button input {
        padding-right: 17%;
    }
}