.items-page {
    display: flex;
    flex-direction: column;
    height: var(--vh-minus-nav-pad);
    overflow: auto;
}

.items-section {
    flex: 1;
    padding: 0 20px;
    overflow: auto;
    min-height: 200px;
}

.items-container {
    display: flex;
    flex-direction: column;
    min-height: 60px;
    gap: 20px;
    justify-self: center;
}

.item {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--color-white);
    border-radius: 5px;
}

.item-list-title {
    max-width: 500px;
    margin: 0 auto 40px;
}

.item-left {
    justify-content: flex-start;
}

.item-right {
    justify-content: center;
}

.item-left,
.item-right {
    flex: 2;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.item-center {
    flex: 7;
}

.check {
    margin-left: -20px;
    align-self: center;
}

.item svg {
    width: 2rem;
    height: 2rem;
}

.messages {
    background: var(--color-white);
    padding: 5px 5px 0px 5px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    flex: 1;
    min-height: 200px;
    position: relative;
}

.messages h2 {
    margin: 0px;
}

.messages-container {
    overflow-y: auto;
    padding: 7px;
    padding-bottom: 60px;
}

.message {
    display: flex;
    padding: 10px 0px;
    margin-bottom: 15px;
    gap: 10px;
}

.message-info {
    flex: 1;
}

.message-metadata {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #8e8e8e;
    margin-bottom: 3%;
}

.message p {
    margin: 0;
    text-align: left;
}

.messages-lower-section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.messages-input-container {
    position: sticky;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #e2e2e2;
}

.closed-tab {
    min-height: unset;
    flex: unset;
}

.closed-tab-content {
    display: none;
}

.input-with-button {
    position: relative;
    width: 100%;
}

.input-with-button input {
    height: 40px;
    width: 100%;
    padding-right: 15%;
    box-sizing: border-box;
}

.input-with-button button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    padding: 3px;
    border-radius: 0 4px 4px 0;
    height: 40px;
}

.item-list-title .react-icons,
.item-list-title svg {
    width: 2.5rem;
    height: 2.5rem;
}

.strikethrough {
    text-decoration: line-through;
    filter: contrast(0.01);
}

.viewer {
    align-items: center;
}

.back-arrow {
    position: fixed;
    left: 5%;
    transform: scale(1.25);
}

/* When phone size or smaller */
@media (max-width: 767px) {

    .item-list-title .react-icons,
    .item-list-title svg {
        width: 2rem;
        height: 2rem;
    }

    .input-with-button button {
        padding: 0 1.4rem;
    }

    .input-with-button input {
        padding-right: 17%;
    }

    .item-left,
    .item-right {
        flex-direction: column;
        gap: 0px;
    }

    .check {
        margin: 0;
    }

    .back-arrow {
        position: unset;
    }
}